body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label {
  display: block;
  font-size: 12px;
  line-height: 16px;
}

select, input, button {
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 3px;
}

/* Helper classes */
.horizontal-group {
  display: flex;
  gap: 8px;
  align-items: center;
}

.vertical-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.vertical-group-gap-12px {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.expand-half {
  flex: 1 1 0; /* dictating that the parent must be a horizontal group */
}

