.wrapper {
  padding: 20px;
  height: calc(100% - 66px); /* 66 is header height */
}

.app {
  display: flex;
  gap: 16px;
  height: 100%;
}

@media only screen and (max-width: 1300px) {
  .app {
    flex-direction: column;
  }

  .app .task-input-pane {
    flex: 1 1 0;
  }
  
  .app .gantt {
    flex: 1 1 0;
  }
}

.app .task-input-pane {
  flex: 0.2 0.2 0;
  height: 100%;
}

.app .gantt {
  flex: 0.8 0.8 0;
}

.divider {
  position: relative;
  display: flex;
  border: none;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.divider::before {
  content: attr(data-content);
  text-transform: capitalize;
  background-color: white;
  line-height: 16px;
  font-size: 12px;
  padding: 4px 8px;
}

.divider::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  height: 1px;
  width: 100%;
  background-color: #eee;
  z-index: -1;
}
